body{
    margin: 0;
    background: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input{
    text-align: center;
}
.head{
    text-align: center;
    font-weight: bolder;
}

.div1{
    padding-top: 70px;
    background: #f5cea0;
}

.btns{
    padding: 10px 40px;
    border-radius: 7px;
    background-color: #f5cea0;
}

#stock{
    color: #f5b367;
    font-weight: bolder;
}

#io{
    color: #f4ae5e;
    font-weight: bolder;
    font-size: larger;
}


.insert-form{
    text-align: left;
    width: 26%;
    margin: 0 auto;
}

.success-message {
    color: green;
    display: none;
    text-align: center;
}

.success-message:target {
        display: block;
}

.edit-form{
    text-align: left;
    width: 26%;
    margin: 0 auto;
}

.success-message-edit {
    color: green;
    display: none;
    text-align: center;
    }

    .success-message-edit:target {
        display: block;
    }

    td, th{padding: 10px 15px;}